# Production Environment Configuration
# Copy this file to .env.prod and fill in your values
BASE_URL=https://goodiesworld.techgigs.in/wp-json/wc/v3
CONSUMER_KEY=ck_788d67b8f28f92f5a1a1bc7a6e9adf5a62c7f4fd
CONSUMER_SECRET=cs_c1dd92d3ab6cf683db2d5726e09ca5b261e6b972
